<div class="row">
  <div class="col-md-offset-6 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="center">New Antibody</h2>
      </div>
      <div class="panel-body">
        <%= form_for @antibody, html: { multipart: true } do |f| %>
          <% if @antibody.errors.any? %>
            <div id="error_explanation">
              <div class="alert alert-danger">
                <p><strong><%= pluralize(@antibody.errors.count, "error") %></strong> prohibited this antibody from being saved.
                </p>
                <p>
                  Please make sure all fields are filled.
                </p>
              </div>
            </div>
          <% end %>
          <div class="form-group">
            <%= f.label :target %>
            <%= f.text_field :target, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :antibody %>
            <%= f.text_field :antibody, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :vendor %>
            <%= f.text_field :vendor, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :product %>
            <%= f.text_field :product, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :isotype %>
            <%= f.text_field :isotype, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.submit class: "btn btn-primary" %>
          </div>
        <% end %> 
      </div>
    </div>
  </div>
</div>