<div class="row">
  <div class="col-xs-12 col-md-2 col-md-6">
    <div class="form-inline" role="form">
      <div class="form-group">
        <%= form_tag antibodies_path, method: :get do %>
        <p>
          <%= text_field_tag :query, params[:query], placeholder: "Antibody search..." %>
          <%= submit_tag "Search", name: nil %>
        </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="well">
<div class="table-responsive">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Target</th> 
        <th>Antibody</th>
        <th>Vendor</th>
        <th>Ratings</th>
        <th>Protocols</th>
      </tr>
    </thead>
    <tbody>
      <% @antibodies.each do |ab| %>
        <tr>
          <td><%= ab.target %></td>
          <td><%= ab.antibody %></td>
          <td><%= ab.vendor %></td>
          <td><%= ab.reputation_for(:votes).to_i %></td>
          <td><%= ab.ihcprotocols.count + ab.ibprotocols.count + ab.ifprotocols.count + 
                  ab.ipreprotocols.count %></td>
          <td><%= link_to "Info", ab, class: "btn-link" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>