<div class="row">

      <p>
        <b>Target:</b>
        <%= @antibody.target %>
      </p>
      <p>
        <b>Antibody:</b>
        <%= @antibody.antibody %>
      </p>
      <p>
        <b>Vendor:</b>
        <%= @antibody.vendor %>
      </p>
      <p>
        <b>Product:</b>
        <%= @antibody.product %>
      </p>
      <p>
        <b>Isotype:</b>
        <%= @antibody.isotype %>
      </p>
    </div> 
 
    <%= link_to 'Back', antibodies_path %>

  </div>
</div>
