<div class="row">
  <div class="col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3>
          <b>Antibody:</b>
          <%= @antibody.antibody %>
        </h3>
      </div>
      <div class="panel-body">
        <p>
          <b>Target:</b>
          <%= @antibody.target %>
        </p>
        <p>
          <b>Vendor:</b>
          <%= @antibody.vendor %>
        </p>
        <p>
          <b>Product:</b>
          <%= @antibody.product %>
        </p>
        <p>
          <b>Isotype:</b>
          <%= @antibody.isotype %>
        </p>
        <p>
          <b>Approvals:</b>
          <%=  %>
        </p>
        <p>
          <b>Protocols:</b>
          <%= @antibody.ihcprotocols.count + @antibody.ibprotocols.count %>
        </p>
        <div class="btn-group">
          <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
            Add Protocol <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Immunohistochemistry", new_antibody_ihcprotocol_path(@antibody) %></li>
            <li><%= link_to "Immunofluorescence",   '#' %></li>
            <li><%= link_to "Immunoprecipitation",  '#' %></li>
            <li><%= link_to "Immunoblot",           new_antibody_ibprotocol_path(@antibody) %></li>
          </ul>
        </div>
      </div>
      <div class="panel-footer">
      </div>
    </div>
  </div>
  <h3>Research Applications for <%= @antibody.antibody %>:</h3> 
  <div class="col-md-2">
    <p>
      <strong>Immunohistochemistry:</strong>
      <% if @antibody.ihcprotocols.any? %>
        <%= @antibody.ihcprotocols.count  %>
        <%= render 'ihcprotocols/ihcprotocol' %>
      <% else %>
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-warning">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>No Immunohistochemistry protocols associated with this antibody yet.</strong><br />
            </div>
          </div>
        </div>
      <% end %>
    </p>
    <p>
      <strong>Immunoblot:</strong>
      <% if @antibody.ibprotocols.any? %>
        <%= @antibody.ibprotocols.count %>
        <%= render 'ibprotocols/ibprotocol' %>
      <% else %>
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-warning">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>No Immunoblot protocols associated with this antibody yet.</strong><br />
            </div>
          </div>
        </div>
      <% end %>
    </p>
  </div>
</div>
