<% provide(:title, "Home") %>

<div class="row">

  <!-- Profile secion -->
  <div class="col-xs-12 col-sm-3 col-md-2">
    <div class="profile_pic">
        <%= image_tag current_user.image_url(:small_thumb) %>
    </div>
    <div class="stats">
      <%= render 'users/stats' %>
      <p>
        <%= render 'users/follow_form' %>
      </p>
    </div>
  </div>

  <!-- Center Console -->
  <div class="col-xs-12 col-sm-6 col-md-8">
    <div id="status_feed">
    </div>
    <div id="console">
    </div>
  </div>

  <!-- Sidebar navigation -->
  <div class="col-xs-12 col-sm-3 col-md-2">
    <div id="sidebar">
      <li>
        <%= link_to users_path, class: "btn btn-link" do %>
          <span class="glyphicon glyphicon-user"></span>
           All Users (admin)
        <% end %>
      </li>
      <li>
        <%= link_to root_path, class: "btn btn-link" do %>
          <span class="glyphicon glyphicon-list-alt"></span>
          Publication Feed
        <% end %>
      </li>
      <hr>
       <li>
        <%= link_to '#', class: "btn btn-link" do %>
          <span class="glyphicon glyphicon-folder-close"></span>
          Documents
        <% end %>
      </li>
      <li>
        <%= link_to '#', class: "btn btn-link" do %>
          <span class="glyphicon glyphicon-tasks"></span>
          Protocols
        <% end %>
      </li>
      <li>
        <%= link_to antibodies_path, remote: true, class: "btn btn-link" do %>
          <span class="glyphicon glyphicon-search"></span>
          Antibodies
        <% end %>
      </li>
      <hr>
      <li>
        <%= link_to '#', class: "btn btn-link" do %>
          <span class="glyphicon glyphicon-paperclip"></span> 
          Document
        <% end %>
      </li>
      <li>
        <%= link_to new_antibody_path, remote: true, class: "btn btn-link" do %>
          <span class="glyphicon glyphicon-plus"></span>
          Antibody
        <% end %>
      </li>
    </div>
  </div>

</div>
