<% provide(:title, @user.name) %>

<div class="row">
  <div class="col-xs-12 col-sm-3 col-md-2">

    <!-- Profile secion -->
    <div class="profile_pic">
        <%= image_tag current_user.image_url(:small_thumb) %>
    </div>
    <section>
      <h3>
        <%= @user.name %>
      </h3>
    </section>
    <div class="stats">
      <%= render 'users/stats' %>
      <p>
        <%= render 'users/follow_form' %>
      </p>
      <br>
      <p>
        <%= link_to "Publication Feed", root_path %>
      </p>
    </div>
  </div>

  <!-- User stats section -->
  <div class="col-xs-12 col-sm-6 col-md-4">
    <section class="well">
      <p>
        <strong>Current occupation:</strong>
        <%= @user.occupation %>
      </p>
      <p>
        <strong>Research interests:</strong>
        <%= @user.interests %>
      </p>

      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge"><%= @user.ihcprotocols.count %></span>
          Immunohistochemistry protocols:
        </li>
        <li class="list-group-item">
          <span class="badge"><%= @user.ifprotocols.count %></span>
          Immunofluorescence protocols:
        </li>
           <li class="list-group-item">
          <span class="badge"><%= @user.ipreprotocols.count %></span>
          Immunoprecipitation protocols:
        </li>
           <li class="list-group-item">
          <span class="badge"><%= @user.ibprotocols.count %></span>
          Immunoblot protocols:
        </li>
      </ul>
    </section>
  </div>
</div>

