<% provide(:title, @user.name) %>

<div class="row">
  <div class="col-xs-12 col-sm-3 col-md-2">

    <!-- Profile secion -->
    <div class="profile_pic">
        <%= image_tag current_user.image_url(:thumb) %>
    </div>
    <section>
      <h3>
        <%= @user.name %>
      </h3>
    </section>
    <div class="stats">
      <%= render 'users/stats' %>
      <p>
        <%= render 'users/follow_form' %>
      </p>
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        <%= link_to current_user, class: "btn btn-link" do %>
          <span class="glyphicon glyphicon-list-alt"></span>
          My Profile
        <% end %>
      </li>
      <li class="list-group-item">
        <%= link_to root_path, class: "btn btn-link" do %>
          <span class="glyphicon glyphicon-list"></span>
          Publications
        <% end %>
      </li>
    </ul>
  </div>

  <!-- User protocols display -->
  <div class="col-xs-12 col-sm-6 col-md-6">
    <div id="app_view">
    </div>
  </div>

  <!-- User stats section -->
  <div class="col-xs-12 col-sm-6 col-md-4">
    <section class="well">
      <p>
        <strong>Current occupation:</strong>
        <%= @user.occupation %>
      </p>
      <p>
        <strong>Research interests:</strong>
        <%= @user.interests %>
      </p>

      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge"><%= @user.ihcprotocols.count %></span>
          <%= link_to "Immunohistochemistry protocols:", user_ihcprotocols_path(@user.ihcprotocols, @ihcprotocol), remote: true %>
        </li>
        <li class="list-group-item">
          <span class="badge"><%= @user.ifprotocols.count %></span>
          <%= link_to "Immunofluorescence protocols:", user_ifprotocols_path(@user.ifprotocols, @ifprotocol), remote: true %>
        </li>
        <li class="list-group-item">
          <span class="badge"><%= @user.ipreprotocols.count %></span>
          <%= link_to "Immunoprecipitation protocols:", user_ipreprotocols_path(@user.ipreprotocols, @ipreprotocol), remote: true %>
        </li>
        <li class="list-group-item">
          <span class="badge"><%= @user.ibprotocols.count %></span>
          <%= link_to "Immunoblot protocols:", user_ibprotocols_path(@user.ibprotocols, @ibprotocol), remote: true %>
        </li>
        <li class="list-group-item">
          <span class="badge"><%= @user.flowprotocols.count %></span>
          <%= link_to "Flow Cytometry protocols:", user_flowprotocols_path(@user.flowprotocols, @flowprotocol), remote: true %>
        </li>
      </ul>
    </section>
  </div>
</div>

