<% provide(:title, @user) %>

<div class="row">
  <div class="col-xs-12 col-sm-3 col-md-2">
    <div class="profile_pic">
      <%= image_tag @user.image_url(:small_thumb) %>
    </div>
    <div class="stats">
      <%= render 'users/stats' %>
      <p>
        <%= render 'users/follow_form' %>
      </p>
    </div>
    <p>
      <%= link_to "view my profile", root_path %>
    </p>
  </div> 
  <div class="col-xs-12 col-sm-6 col-md-8">
    <section>
      <h2>
        <%= @user.email %>
      </h2>
    </section>
  </div>
</div>
