<% provide(:title, @title) %>
<div class="row">
  <aside class="col-xs-12 col-md-6 col-md-offset-2">
    <section>
      <h3>
        <%= @user.name %>
      </h3>
      <span><%= link_to "My profile", current_user %></span>
    </section>
    <section>
      <%= render 'users/stats' %>
    </section>
  </aside>
  <div>
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users">
        <%= render @users %>
      </ul>
    <% end %>
  </div>
</div>