<% provide(:title, @title) %>
<div class="row">
  <aside class="col-xs-12 col-md-6 col-md-offset-3">
    <section>
      <h1><%= @user.email %></h1>
      <span><%= link_to "view my profile", root_path %></span>
    </section>
    <section>
      <%= render 'users/stats' %>
    </section>
  </aside>
  <div>
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users">
        <%= render @users %>
      </ul>
    <% end %>
  </div>
</div>